@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.container{
    margin: 0 7rem;
    height: 100%;
}
a{
    text-decoration: none;
    color: aliceblue;
}

nav ul{
    display: flex;
    align-items: center;
}
nav ul a{
    padding: 20px;
}
ul{
    list-style: none;
    transform: scale(1);
    font-weight: bold;

}
ul :hover{
    transform: scale(1.2);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    
h1 span {
    letter-spacing: 3px;
}



#home{
    height: 100vh;
    background-color: blue;
    color: aliceblue;
}

.logo{
    width: 80px;
    
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo2{
    width:370px ;
    margin-left: 160px;
    margin-top: 30px;
}



.content_text p{
    width: 500px;
    padding-bottom: 30px;
    
}
h1{
    padding-bottom: 20px;
    
}
span{
    font-size: 1.7em;
    font-weight: 700;
    font-family: fantasy;
}
ul a:hover{
    display: inline-block;
    transition: 0.2s ease;

}

#home .content .content_text .btn{
    font-size: 14px;
    background-color: aliceblue;
    padding: 12px 12px;
    color: rgb(56, 22, 177);
    border-radius: 30px;
    letter-spacing: 2px;
    transition: 0.5s ease;
    font-weight: bold;
}

#home .content .content_text .btn:hover{
    background-color: transparent;
    color: aliceblue;
    border: 1px solid #fff;
    transform: scale(1.1);
    font-size: 15px;
}





#home .content .logo2 {
    animation: x1 1s ease-out;
}

@keyframes x1 {
    0% {
        transform: translateX(500px);
    }
    100% {
        transform: translateX(0);
    }
}

@media (max-width: 900px) {
    .container{
        margin: 0 1rem;
    }
    nav ul a{
        padding: 10px;
    }
    #home .content{
        flex-direction: column;
        text-align: center;
        padding: 2rem 0 0;
    }

    .content-text {
        margin-bottom: 2rem;
    }
    #home .content .content-text p{
        width: 100%;
    }
    .logo2{
        width:250px ;
        margin: 10px;
        margin-top: 100px;
    }
}

@media (max-width: 600px) {
    nav{
        display: block;
        font-size: 12px;
    }
    .logo{
        display: block;
        margin: 0 auto 15px;
    }

    .content_text p{
        width: 300px;
    }
    .logo2{

width: 170px;    }


    
}



